<div class="container">
  <div class="row gutters">
    <div class="col-12">
      <div class="card h-100">
        <div class="card-body">
          <div>
            <h2 style="text-align: center">Add New Customer</h2>
          </div>
          <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-2 text-primary">Customer Details</h6>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="phone">Customer Code</label>
                  <input formControlName="customerCode" type="text" class="form-control" id="customerCode"
                         placeholder="Enter Phone">
                  <div class="alert alert-danger"
                       *ngIf="customerCode.invalid && (customerCode.dirty || customerCode.touched)">
                    <div *ngIf="customerCode.errors.required">
                      Customer code is required.
                    </div>
                    <div *ngIf="customerCode.errors.pattern">
                      Customer code format KH-XXXX.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="fullName">Full Name Customer</label>
                  <input formControlName="name" type="text" class="form-control" id="fullName"
                         placeholder="Enter Full Name">
                  <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
                    <div *ngIf="name.errors.required">
                      Name is required.
                    </div>
                    <div *ngIf="name.errors.pattern">
                      Name is only string.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input formControlName="phoneNumber" type="text" class="form-control" id="phone"
                         placeholder="Enter Phone">
                  <div class="alert alert-danger"
                       *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                    <div *ngIf="phoneNumber.errors.required">
                      Phone number is required.
                    </div>
                    <div *ngIf="phoneNumber.errors.pattern">
                      Phone number is format 090xxxxxxxx.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="address">Address</label>
                  <input formControlName="address" type="text" class="form-control" id="address"
                         placeholder="Enter Address">
                  <div class="alert alert-danger" *ngIf="address.invalid && (address.dirty || address.touched)">
                    <div *ngIf="address.errors.required">
                      Address is required.
                    </div>
                    <div *ngIf="address.errors.maxlength">
                      Address is less than 256 character long.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input formControlName="email" type="text" class="form-control" id="email" placeholder="Enter Email">
                  <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <div *ngIf="email.errors.required">
                      Email number is required.
                    </div>
                    <div *ngIf="email.errors.email">
                      Email is incorrect format.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gutters">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="gender">Gender</label>
                  <input formControlName="gender" class="form-control" id="gender" placeholder="Enter Gender">
                  <div class="alert alert-danger" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                    <div *ngIf="gender.errors.required">
                      Gender is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="birthday">Birthday</label>
                  <input formControlName="birthday" type="date" class="form-control" id="birthday"
                         placeholder="Enter Birthday">
                  <div class="alert alert-danger" *ngIf="birthday.invalid && (birthday.dirty || birthday.touched)">
                    <div *ngIf="birthday.errors.required">
                      Birthday is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group">
                  <label for="customerType">Customer type</label>
                  <input formControlName="customerType" type="text" class="form-control" id="customerType"
                         placeholder="Enter Customer type">
                  <div class="alert alert-danger"
                       *ngIf="customerType.invalid && (customerType.dirty || customerType.touched)">
                    <div *ngIf="customerType.errors.required">
                      Customer type is required.
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row gutters">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right">
                  <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                  <button type="submit" id="submit1" name="submit" class="btn btn-primary"
                          [disabled]="customerForm.invalid">Add
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
