<div class="container">
  <div>
    <h2 style="text-align: center">List Contract</h2>
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">Number</th>
      <th scope="col">Number Contract</th>
      <th scope="col">Name Customer</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Name Service</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>HD-1</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">2</th>
      <td>HD-2</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">3</th>
      <td>HD-3</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">4</th>
      <td>HD-4</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">5</th>
      <td>HD-5</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">6</th>
      <td>HD-6</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">7</th>
      <td>HD-7</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">8</th>
      <td>HD-8</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">9</th>
      <td>HD-9</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr> <tr>
      <th scope="row">10</th>
      <td>HD-10</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr>
    <tr>
      <th scope="row">11</th>
      <td>HD-11</td>
      <td>Lê Đức Phiên</td>
      <td>20-01-2022</td>
      <td>30-01-2022</td>
      <td>Room Deluxe</td>
    </tr>

    </tbody>
  </table>
  <div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
