<div class="container">
  <div class="row gutters">
    <div class="col-12">
      <div class="card h-100">
        <div class="card-body">
          <div>
            <h2 style="text-align: center">Edit Service</h2>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Service Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Name Service</label>
                <input type="text" class="form-control" id="fullName" value=" Phòng Deluxe vườn">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" value="200 USD">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="usingArea">Area</label>
                <input type="text" class="form-control" id="usingArea" value="1000m">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="roomStandard">Room Standard</label>
                <input type="text" class="form-control" id="roomStandard" value="3">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="numOfFloors">Num Of Floors</label>
                <input type="text" class="form-control" id="numOfFloors" value="4">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="text" class="form-control" id="startDate" value="10-01-2022">

              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="text" class="form-control" id="endDate" value="20-01-2022">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                <button type="button" id="submit1" name="submit" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
