<div class="container">
  <div class="row gutters">
    <div class="col-12">
      <div class="card h-100">
        <div class="card-body">
          <div>
            <h2 style="text-align: center">Add New Customer</h2>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Customer Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Full Name Customer</label>
                <input type="text" class="form-control" id="fullName"  placeholder="Enter Full Name">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone"  placeholder="Enter Phone">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="idCard">Id Card</label>
                <input type="text" class="form-control" id="idCard"  placeholder="Enter Id Card">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="email"  placeholder="Enter Email">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="gender">Gender</label>
                <input type="text" class="form-control" id="gender"  placeholder="Enter Gender">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="birthday">Birthday</label>
                <input type="text" class="form-control" id="birthday"  placeholder="Enter Birthday">

              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="customerType">Customer type</label>
                <input type="text" class="form-control" id="customerType"  placeholder="Enter Customer type">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                <button type="button" id="submit1" name="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</div>
