<div class="container">
  <div class="row gutters">
    <div class="col-12">
      <div class="card h-100">
        <div class="card-body">
          <div>
            <h2 style="text-align: center">Add New Service</h2>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-2 text-primary">Service Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Name Service</label>
                <input type="text" class="form-control" id="fullName" placeholder="Enter Name Service">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Enter Price">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="usingArea">Area</label>
                <input type="text" class="form-control" id="usingArea" placeholder="Enter Using Area">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="roomStandard">Room Standard</label>
                <input type="text" class="form-control" id="roomStandard" placeholder="Enter Room Standard">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="numOfFloors">Num Of Floors</label>
                <input type="text" class="form-control" id="numOfFloors" placeholder="Enter Num Of Floors">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" placeholder="Enter Start Date">

              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" placeholder="Enter End Date">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" id="submit" name="submit" class="btn btn-secondary">Cancel</button>
                <button type="button" id="submit1" name="submit" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
